body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: #eee;
}

header {
  display: flex;
  top: 0;
  min-height: 75px;
  /* padding: 0px 20px; */
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#logo #header-img {
  height: 100%;
  width: 100%;
  margin-top: 0;
  position: relative;
  top: 5px;
  /* left: -10px; */
  max-width: 300px;
  margin: auto;
}

nav ul {
  list-style: none;
  display: flex;
  width: 35vw;
  flex-direction: row;
  justify-content: space-around;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
  margin: auto;
  position: relative;
}

h2 {
  text-align: center;
}

#video {
  display: block;
  margin: 100px auto;
  padding: 30px;
  text-align: center;
}
#form {
  display: block;
  margin: auto;
  text-align: center;
}
#email {
  padding: 5px;
  width: 200px;
}
#submit {
  background-color: #f1c40f;
  padding: 5px 15px 5px 15px;
  font-weight: 800;
  border: none;
  border-radius: 1px solid black;
  font-size: 1em;
}

@media screen and (max-width: 800px) {
  #header-img {
    height: 50%;
    width: 50%;
    margin-top: 0;
    position: relative;
    max-width: 300px;
  }
  section#hero {
    /* left: 30px; */
}
  #header {
    display: flex;
  }
  nav ul {
    list-style: none;
    display: flex;
    width: 55vw;
  }

  h2 {
    text-align: center !important;
  }
  div#navbar ul {
    display: block !important;
    margin: auto;
    text-align: center;
}
li{
  padding:3px;
}
div#navbar {
    display: block !important;
}
div#logo {
    margin: auto;
    text-align: center;
    /* left: 30px !important; */
    padding-bottom: 5px;
}
div#logo {
    display: block !important;
}
header#header {
  display: block;
}
div iframe{
  width:80vw;
  height:auto;
}
ul{
  padding-left:0;
}
#header-img{
  left:-10px;
}
}
